<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>testing the page</p>
        <h2>name of  person : <%=display["first_name"]+" "+ display["last_name"] %> </h2>
        <h2>email:<%=display["email"] %></h2>
        
    </div>
    
    
</body>
</html>